#
# {{ .Config.PanelManagedComment }}
#
# Catch-all vhost. Serves ACME HTTP-01 challenges for hostnames that no site
# claims, and nothing else: no scripts, no directory listing, no symlinks.
#

docRoot                       {{ .ACMEWebroot }}
enableGzip                    0

index {
    useServer                 0
    indexFiles                index.html
    autoIndex                 0
}

context / {
    location                  {{ .ACMEWebroot }}
    allowBrowse               0
}

context /.well-known/acme-challenge {
    location                  {{ .ACMEWebroot }}/.well-known/acme-challenge
    allowBrowse               1
}
