#!/usr/sbin/nft -f
# Managed by OPanel. Regenerated on every firewall change.

table inet opanel
delete table inet opanel

table inet opanel {
    set blocklist4 { type ipv4_addr; flags interval; }
    set blocklist6 { type ipv6_addr; flags interval; }

    chain input {
        type filter hook input priority filter; policy drop;

        ct state established,related accept
        ct state invalid drop
        iif lo accept

        ip  saddr @blocklist4 drop
        ip6 saddr @blocklist6 drop

        ip  protocol icmp      accept
        ip6 nexthdr  ipv6-icmp accept
{{ range .SSHPorts }}
        tcp dport {{ . }} accept comment "ssh"
{{- end }}
        tcp dport 80  accept comment "http"
        tcp dport 443 accept comment "https"
        udp dport 443 accept comment "http3"
        tcp dport {{ .PanelPort }} accept comment "opanel"
    }

    chain forward { type filter hook forward priority filter; policy drop; }
    chain output  { type filter hook output  priority filter; policy accept; }
}
